# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Node
node_modules/

# Environment
.env
.env.local


# Data (IMPORTANT)
backend/data/docs/
backend/data/fertilizer_dataset/
backend/data/crop_dataset/
backend/data/Plant_leaf_diseases_dataset_without_augmentation/

# Uploads
backend/uploads/

# Vector DB
data/faiss_index/
data/chroma_db/

# Audio files
static/audio/*.mp3
static/audio/*.wav
static/audio/*.m4a

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model cache
.cache/
models/

